.content {
    margin: 3%;   
}
.content div {
    margin: 1%;   
}
#page{
    box-shadow: 0px 0px 5px 5px #2A2A2A;
    text-align: center;
}
canvas, object{
    display: inline-block;
}
canvas {
    max-width: 100%;
}
.fallback{
    width: 100%;
    height: 100vh;
}
iframe.fallback{
    border: none;   
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
@media (scripting: none) {
    .pagination {
           display: none;
    }
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.center {
    text-align: center;
}
.button {
    background-color: green;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 1% 2%;
    cursor: pointer;
}
