#page{
    margin: 5%;
    box-shadow: 0px 0px 5px 5px #2A2A2A;
    text-align: center;
}
canvas, object{
    display: inline-block;
}
.fallback{
    width: 100%;
    height: 100%;
}
iframe.fallback{
    border: none;   
}
@media not scripting{
    .buttons{
           display: none;
    }
}
