#page{
    margin: 5%;
    box-shadow: 0px 0px 5px 5px #2A2A2A;
    text-align: center;
}
canvas, object{
    display: inline-block;
}
.fallback{
    width: 100%;
    height: 100%;
}
iframe.fallback{
    border: none;   
}
@media (scripting: none) {
    .pagination{
           display: none;
    }
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
